@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.divio.com/introduction/01-installation/"> deploying Web apps with Divio</a>.</p>
    <p>Environment variable: @ViewData["EnvironmentVariable"]</p>
</div>
